doctype html
html(lang='en', ng-app="app")
    head
        meta(charset='UTF-8')
        title arc-gis-test

        //link(rel="stylesheet", href="https://js.arcgis.com/4.0/esri/css/main.css")

        // script(src="../src/lib/leaflet/leaflet.js")
        script(src="../bower_components/angular/angular.js")
        script(src="../src/module/leaflet/_init.js")
        script(src="../src/module/leaflet/directive/directive-map.js")
        script(src="../src/module/leaflet/factory/factory-load-script.js")
        script(src="app/_init.js")


    body
        div(lf-map)


