doctype html
html(lang='en', ng-app="app")
    head
        meta(charset='UTF-8')
        title arc-gis-test


        //- inject:css
        link(data-css-type='custom-theme', rel='stylesheet' href='build/css/index.css')
        //- endinject


        //- inject:js
        script(src="src/lib/angular/angular.min.js")
        script(src="src/app/init.js")
        script(src="src/module/leaflet/init.js")
        script(src="src/app/config/config-leaflet.js")
        script(src="src/app/controller/controller-main.js")
        script(src="src/app/directive/directive-lf-icon.js")
        script(src="src/app/factory/factory-marker.js")
        script(src="src/app/factory/factory-poly.js")
        script(src="src/module/leaflet/controller/conroller-map-container.js")
        script(src="src/module/leaflet/directive/directive-info-lat-lng.js")
        script(src="src/module/leaflet/directive/directive-map-container.js")
        script(src="src/module/leaflet/directive/directive-map.js")
        script(src="src/module/leaflet/factory/factory-load-script.js")
        script(src="src/module/leaflet/factory/factory-map-events.js")
        script(src="src/module/leaflet/factory/factrory-leaflet-map.js")
        script(src="src/module/leaflet/provider/provider-leaflet.js")
        //- endinject


    body(ng-controller="controllerMain")
        .table
            .table-cell
                .map-container
                    .lf-map
                    .info-lat-lng
