doctype html
html(lang='en', ng-app="app")
    head
        meta(charset='UTF-8')
        title arc-gis-test

        link(data-css-type='custom-theme', rel='stylesheet' href='../build/css/index.css')

        script(src="../bower_components/angular/angular.js")
        script(src="../src/module/leaflet/_init.js")
        script(src="../src/module/leaflet/provider/provider-leaflet.js")
        script(src="../src/module/leaflet/directive/directive-map.js")
        script(src="../src/module/leaflet/factory/factory-load-script.js")

        script(src="app/_init.js")
        script(src="app/config/config-leaflet.js")


    body
        .map-container
            .lf-map
            .info-lat-lng



