.map-container{
  .leaflet-container a.leaflet-popup-close-button{
    padding: 2px;
    background: #ffffff;
    top:-5px;
    right: -5px;
    border-radius: 50%;
  }
  .leaflet-popup-content-wrapper{
    border-radius: 5px;
  }
  .leaflet-popup-content{
    margin: 5px;
    p{
      margin: 0;
      text-align: center;
    }
  }

}
